############################
# Dependencies
############################
node_modules/

############################
# Production
############################
build/
dist/

############################
# Generated / cache
############################
.cache/
.tmp/
.strapi/
.strapi-updater.json
*.cache

############################
# Env
############################
.env

############################
# IDE
############################
.idea/
.vscode/

############################
# Logs
############################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

############################
# OS
############################
.DS_Store
